.container { /*split*/
  padding-bottom: 50px;
  overflow: hidden;
}

.listcontainer { /*left*/
  float: left;
  width: 30%;
  max-height: 100vh;
  overflow: scroll;
}

.selectedcard{
  float: left;
  width: 35%;
  padding-left: 100px;
  padding-right: 100px;
}

.evolutioncard{
  float: left;
  width: 35%;
  padding-left: 100px;
  padding-right: 100px;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .listcontainer {
    width:100%;
  }
  .selectedcard, .evolutioncard {
    width:50%;
  }
}
