.mainContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}

.listWrapper {
  height: 25vh;
  overflow: hidden scroll;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem;
}

@media (min-width: 420px) {
  .cardsContainer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .mainContainer {
    flex-direction: row;
  }

  .listWrapper {
    height: 80vh;
  }

  .cardsContainer {
    height: 80vh;
    margin: auto;
  }
} ;
