.pokemonslist {
  display: grid;
  grid-template-columns: repeat(3, minmax(110px, 1fr));
  padding-inline-start: 0;
  row-gap: 10px;
}

.card {
  list-style: none;
  text-align: center;
}

.cardimage {
  height: auto;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .pokemonslist {
    display: flex;
  }
}
